body{
    background-image: url("../img/img3.png");
    background-size: cover;
    background-attachment: fixed;
}


#contenedor{
    background-color: yellow;
    width: 1000px;
    height: 800px;
    margin: auto;
}

#cabecera{
    background-color: yellow;
    width: 1000px;
    height: 150px;
}

#nav{

    background-color: ivory;
    width: 1000px;
    height: 50px;
}
#contenedor2{
    background-color: green;
    width: 1000px;
    height: 400px; 
}

#article1{
    background-color: violet;
    width: 700px;
    height: 133px;
    float: left;
}

#article2{
    background-color: darkorange;
    width: 700px;
    height: 133px;
    float: left;
}

#article3{
    background-color:brown;
    width: 700px;
    height: 133px;
    float: left;
}

#contenedor3{
    background-color: lawngreen;
    width: 1000px;
    height: 150px;
}

#producto1{
    background-color: lightblue;
    width: 500px;
    height: 150px;
    float: left;
}


#producto2{
    background-color: greenyellow;
    width: 500px;
    height: 150px;
    float: left;
}

#footer{
    background-color: lightcoral;
    width: 1000px;
    height: 50px;
}