*{
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.cont {
    max-width: 1200px;
    width: 100%;
    height: 600px;
    text-align: center;
    margin: auto;
    padding: 20px;
    border-color: beige;
    border-style: solid;
    border-width: 0.1px
}

/* Calculadora */
#contenedor{
    max-width: 1200px;
    width: 100%;
    height: 400px;
}

.inputs {
    max-width: 1200px;
    width: 100%;
    float: left;
}