*{
    padding: 0;
    margin: 0;
}

body{
    background-color: blueviolet;
}

#contenedor{
    background-image: url(../img/img.jpg);
    width: 500px;
    height: 500px;
    margin: auto;/*centra las cajas*/
    text-align: center;
    color: white;
    padding: 20px;/*da un margen a los 4 lados*/
    box-sizing: border-box;/*ajusta el tamaño a la imagen*/
}

.texto{
    margin: auto;
    text-align: justify;
    background-color: rgb(0, 0, 0, .5);
    width: 300px;
    height: 300px;
    padding: 20px;
    box-sizing: border-box;
}