*{
    margin: 0;
    padding: 0;
}

body{
    background-color: lightgray;
}

.galeria{
    width: 70%;
    margin: auto;
    overflow: hidden;
}

.galeria ul{
    display: flex;
    width: 400%;
    animation: cambio 5s infinite alternate linear;
    animation-timing-function: ease-in;
}

.galeria li{
    width: 100%;
    list-style: none;
}

.galeria img{
    width: 100%;
}

.contenedor{
    width: 70%;
    margin: auto;
    background-color: blue;
}

.galeria2{
    width: 50%;
    float: left;
    margin: auto;
    overflow: hidden;
}

.galeria2 ul{
    display: flex;
    width: 400%;
    animation: cambio 5s infinite alternate linear;
    animation-timing-function: ease-in;
}

.galeria2 li{
    width: 100%;
    list-style: none;
}

.galeria2 img{
    width: 100%;
}

.galeria3{
    width: 50%;
    margin: auto;
    overflow: hidden;
    float: left;
}

.galeria3 ul{
    display: flex;
    width: 400%;
    animation: cambio 5s infinite alternate linear;
    animation-timing-function: ease-in;
}

.galeria3 li{
   width: 100%;
    list-style: none;
}

.galeria3 img{
    width: 100%;
}

@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    80%{margin-left: -300%;}
    100%{margin-left: -300%;}
}