*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.portada, .contra{
    background-color:rebeccapurple;
    width:380px;
    height:585px;
}

.pagina{
    text-align:justify;
}

.gotopage{
    text-align: center;
}

.in_go{
    width: 40px;
    margin-right: 10px
}