*{
    margin: 0;
    padding: 0;
}

body{
}

#contenedor{
    background-color: rgb(241, 241, 241);
    max-width: 1200px;
    width: 100%;
    height: 1400px;
    margin: auto;
    padding: auto;
    text-align: center;
}

#nav{
    max-width: 1200px;
    width: 100%;
    background-color: black;
    height: 35px;
    margin: auto;
    text-align: center;
}

#nav li{
    display: inline;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
}

#nav li a{
    text-decoration: none;
    color: white;
}

#section{
    max-width: 1200px;
    width: 80%;
    height: auto;
    padding: auto;
    margin: auto;
}

#cont2{
    background-color: gray;
    max-width: 1200px;
    width: 70%;
    height: 300px;
    margin: auto;
    float: left;
}

#cont2 img{
    margin-top: 15%;
    float: left;
}

#cont2 p{
    margin-top: 15%;
}

#cont3{
    background-color: darkgrey;
    max-width: 1200px;
    width: 30%;
    height: 300px;
    float: left;
}

#cont4{
    background-color: darkgrey;
    max-width: 1200px;
    width: 50%;
    height: 300px;
    float: left;
    text-align: center;
}

#cont4 img{
    margin-top: 20%;
}

#cont5{
    background-color: gray;
    max-width: 1200px;
    width: 50%;
    height: 300px;
    float: left;
    text-align: center;
}

#cont5 img{
    margin-top: 20%;
}

#cont6{
    background-color: gray;
    max-width: 1200px;
    width: 50%;
    height: 300px;
    float: left;
    text-align: center;
}

#cont7{
    background-color: darkgray;
    max-width: 1200px;
    width: 50%;
    height: 300px;
    float: left;
    text-align: center;
}

#footer{
    max-width: 1200px;
    width: 100%;
    background-color: black;
    height: 65px;
    margin: auto;
    text-align: center;
    color: white;
    float: left;
}

@media only screen and (max-width: 900px){
    #contenedor{
        background-color: rgb(241, 241, 241);
        max-width: 900px;
        width: 100%;
        height: 1300px;
        margin: auto;
        padding: auto;
        text-align: center;
    }

    #cont img{
        width: 900px;
        height: 400px;
    }

    #nav{
        max-width: 900px;
        width: 100%;
        background-color: black;
        height: 35px;
        margin: auto;
        text-align: center;
    }
    
    #nav li{
        display: inline;
        text-decoration: none;
        padding: 5px 10px 5px 10px; 
    }
    
    #nav li a{
        text-decoration: none;
        color: white;
    }

    #section{
        max-width: 900px;
        width: 100%;
        height: auto;
        padding: auto;
        margin: auto;
    }

    #cont2{
        background-color: gray;
        max-width: 900px;
        width: 100%;
        height: 200px;
        margin: auto;
    }

    #cont2 p{
        margin: 0;
    }

    #cont2 img{
        margin: 0;
        float: unset;
    }

    #cont3{
        background-color: darkgrey;
        max-width: 900px;
        width: 100%;
        height: 150px;
    }

    #cont3 img{
        display: none;
    }

    #cont4{
        background-color: gray;
        max-width: 900px;
        width: 50%;
        height: 200px;
        float: left;
        text-align: center;
    }
    
    #cont4 img{
        margin-top: 10%;
    }

    #cont5{
        background-color: gray;
        max-width: 900px;
        width: 50%;
        height: 200px;
        float: left;
        text-align: center;
    }
    
    #cont5 img{
        margin-top: 10%;
    }

    #cont6{
        background-color: darkgray;
        max-width: 900px;
        width: 100%;
        height: 150px;
        float: left;
        text-align: center;
    }

    #cont7{
        background-color: gray;
        max-width: 900px;
        width: 100%;
        height: 150px;
        float: left;
        text-align: center;
    }

    #footer{
        max-width: 900px;
        width: 100%;
        background-color: black;
        height: 65px;
        margin: auto;
        text-align: center;
        color: white;
        float: left;
    }
}

@media only screen and (max-width: 600px){
    #contenedor{
        background-color: rgb(241, 241, 241);
        max-width: 600px;
        width: 100%;
        height: 1280px;
        margin: auto;
        padding: auto;
        text-align: center;
    }

    #cont img{
        width: 600px;
        height: 400px;
    }

    #nav{
        max-width: 600px;
        width: 100%;
        background-color: black;
        height: 35px;
        margin: auto;
        text-align: center;
    }
    
    #nav li{
        display: inline;
        text-decoration: none;
        padding: 5px 10px 5px 10px; 
    }
    
    #nav li a{
        text-decoration: none;
        color: white;
    }

    #section{
        max-width: 600px;
        width: 100%;
        height: auto;
        padding: auto;
        margin: auto;
    }

    #cont2{
        background-color: gray;
        max-width: 600px;
        width: 100%;
        height: 230px;
        margin: auto;
    }

    #cont2 p{
        margin: 0;
    }

    #cont2 img{
        margin: 0;
        float: unset;
        display: none;
    }

    #cont3{
        background-color: darkgrey;
        max-width: 600px;
        width: 100%;
        height: 150px;
        display: none;
    }

    #cont4{
        background-color: darkgray;
        max-width: 600px;
        width: 100%;
        height: 200px;
        float: left;
        text-align: center;
    }
    
    #cont4 img{
        margin-top: 10%;
    }

    #cont5{
        background-color: gray;
        max-width: 600px;
        width: 100%;
        height: 200px;
        float: left;
        text-align: center;
    }
    
    #cont5 img{
        margin-top: 10%;
    }

    #cont6{
        background-color: darkgray;
        max-width: 600px;
        width: 100%;
        height: 150px;
        float: left;
        text-align: center;
    }

    #cont7{
        display: none;
    }

    #footer{
        max-width: 600px;
        width: 100%;
        background-color: black;
        height: 65px;
        margin: auto;
        text-align: center;
        color: white;
        float: left;
    }
}