*{
    margin: 0;
    padding: 0;
}

body{
    background-color: gray;
}

.contenedor{
    width: 1200px;
    height: auto;
    margin: auto;
    margin-top: 200px;
}

.nav{
    height: 40px;
    margin: auto;
    text-align: right;
    background-color: black;
}

.nav li{
    display: inline;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
}

.nav a{
    text-decoration:none;
    color: white;
}

.slider{
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slider ul{
    display: flex;
    width: 300%;
    animation: cambio 5s infinite alternate linear;
    animation-timing-function: ease-in;
}

.slider li{
    width: 100%;
    list-style: none;
}

.slider img{
    width: 100%;
}

.cont2{
    width: 90%;
    margin: auto;
    height: 450px;
}

.section{
    width: 400px;
    float: left;
    margin: auto;
    text-align: center;
}

.section p{
    width: 80%;
    margin: auto;
    margin-top: 10%;
}

.section2{
    width: 680px;
    height: 200px;
    margin: auto;
}

.slider2{
    width: 30%;
    margin-left: 38%;
    overflow: hidden;
}

.slider2 ul{
    display: flex;
    width: 200%;
    animation: cambio2 5s infinite alternate linear;
    animation-timing-function: ease-in;
}

.slider2 li{
    width: 100%;
    list-style: none;
}

.slider2 img{
    margin-top: 2%;
}

.footer{
    height: 40px;
    color: white;
    text-align: center;
    background-color: black;
}

@keyframes cambio{
    0%{margin-left: 0;}
    25%{margin-left: 0;}

    50%{margin-left: -100%;}
    75%{margin-left: -100%;}

    90%{margin-left: -200%;}
    100%{margin-left: -200%;}
}

@keyframes cambio2{
    0%{margin-left: 0;}
    25%{margin-left: 0;}

    75%{margin-left: -100%;}
    100%{margin-left: -100%;}
}

@media only screen and (max-width: 900px){
    .contenedor{
        max-width: 900px;
        width: 90%;
    }

    .nav{
        max-width: 900px;
        width: 90%;
    }

    .slider{
        max-width: 900px;
        width: 90%;
    }

    .cont2{
        height: 700px;
    }

    .section{
        width: 100%;
        height: 275px;
        float: left;
    }

    .section2{
        width: 100%;
    }

    .section p{
        width: 80%;
        margin: auto;
        margin-top: 3%;
    }
    .slider2{
        width: 25%;
    }
}

@media only screen and (max-width: 600px){
    .contenedor{
        max-width: 600px;
        width: 100%;
    }
    .nav{
        max-width: 600px;
        width: 100%;
    }
    .slider{
        max-width: 600px;
        width: 100%;
    }

    .cont2{
        max-width: 600px;
        width: 90%;
        height: 400px;
    }

    .section{
        width: 100%;
        height: 42%;
    }

    .section2{
        display: none;
    }
}