*{
    margin: 0;
    padding: 0;
}

body{
    background-color: antiquewhite;
    margin: auto;
}

#header{
    width: auto;
    text-align: center;
}

#nav{
    background-color: black;
    float: center;
    width: auto;
    height: 35px;
    margin: auto;
}

#nav li{
    display: inline;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
}

#nav li a{
    text-decoration: none;
    color: white;
}

#contenedor{
    max-width: 1200px;
    width: 100%;
    height: 710px;
    margin: auto;
    text-align: center;
    background-color: burlywood;
}

#slider{
    max-width: 1200px;
    width: 100%;
}

#cabecera{
    height: 40px;
}

#cont{
    width: 1200px;
    height: 250px;
}

.cont1{
    width: 400px;
    height: 250px;
    float: left;
}

.cont2{
    width: 400px;
    height: 250px;
    float: left;
}

.cont3{
    width: 400px;
    height: 250px;
    float: left;
}

#footer{
    width: auto;
    height: 150px;
    background-color: brown;
}

.img{
    float: left;
    width: 300px;
    margin-top: 20px;
    margin-left: 190px;
}

.parrafo{
    width: 350px;
    float: left;
    margin-left: 15px;
    margin-top: 40px;
}

.parrafo2{
    width: 350px;
    float: left;
    margin-left: 20px;
    margin-top: 40px;
}

@media only screen and (max-width: 800px){
    #header{
        width: 800px;
        text-align: center;
    }

    #nav{
        background-color: black;
        float: center;
        width: 100%;
        height: 35px;
        margin: auto;
    }
    
    #cabecera{
        width: 100%;
    }

    #contenedor{
        width: 800px;
        height: 1010px;
        margin: auto;
        text-align: center;
        background-color: burlywood;
    }

    #slider img{
        max-width: 800px;
        width: 100%;
        height: 400px;
    }

    #cont{
        width: 800px;
        height: 250px;
    }

    .cont1{
        width: 800px;
        height: 200px;
        float: left;
    }
    
    .cont2{
        width: 800px;
        height: 200px;
        float: left;
    }
    
    .cont3{
        width: 800px;
        height: 200px;
        float: left;
    }

    .img2{
        width: 30%;
        float: left;
    }

    .lorem{
        width: 70%;
        margin-top: 30px;
    }

    #footer{
        width: 800px;
        height: 200px;
        background-color: brown;
    }

    .img{
        width: 30%;
        float: left;
        margin-top: 40px;
        margin-left: 15px;
    }

    .parrafo{
        width: 25%;
        float: left;
    }

    .parrafo2{
        width: 25%;
        float: left;
    }
    
}

@media only screen and (max-width: 600px){
    #header{
        width: 600px;
        text-align: center;
    }

    #nav{
        background-color: black;
        float: center;
        width: 100%;
        height: 35px;
        margin: auto;
    }
    
    #cabecera{
        width: 100%;
    }

    #contenedor{
        width: 600px;
        height: 860px;
        margin: auto;
        text-align: center;
        background-color: burlywood;
    }

    #slider img{
        width: 600px;
        height: 400px;
    }

    #cont{
        width: 600px;
    }

    .cont1{
        width: 600px;
        height: 150px;
        float: left;
    }
    
    .cont2{
        width: 600px;
        height: 150px;
        float: left;
    }
    
    .cont3{
        width: 600px;
        height: 150px;
        float: left;
    }

    .img2{
        display: none;
        width: 30%;
        float: left;
    }

    .lorem{
        width: 100%;
        margin-top: 30px;
    }

    #footer{
        width: 600px;
        height: 250px;
        background-color: brown;
    }

    .img{
        width: 45%;
        float: right;
        margin-top: 80px;
        margin-left: 15px;
    }

    .parrafo{
        width: 45%;
        float: left;
        margin-top: 70px;
    }

    .parrafo2{
        display: none;
    }
    
}