*{
    padding: 0;
    margin: 0;
}

body{
    background-color: blueviolet;
}

#contenedor{
    background-image: url(../img/img.jpg);
    width: 500px;
    height: 500px;
    margin: auto;/*centra las cajas*/
    text-align: center;
    color: white;
    padding: 20px;/*da un margen a los 4 lados*/
    box-sizing: border-box;/*ajusta el tamaño a la imagen*/
}

.texto{
    margin: auto;
    text-align: justify;
    background-color: rgb(0, 0, 0, .5);
    width: 300px;
    height: 300px;
    padding: 20px;
    box-sizing: border-box;
}
#navegacion{
    margin: 50px;
    height: auto;
}

.boton{
    text-decoration: none;
    background-color: blue;
    font-size: 20px;
    color: white;
    padding: 10px;
    border-radius: 6px;
}

.boton:hover{
    background-color: violet;
    color: yellow;
}

#navegacion2{
    float: left;
    width: 450px;
    margin: auto;
    height: auto;
}

#navegacion2 li{
    display: inline;

}

#navegacion2 li a{
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    background-color: blue;
    color: white;
    font-size: 16px;
}

#navegacion2 li a:hover{
    background-color: orange;
    color: black;
}