*{
    margin: 0;
    padding: 0;
}

body{
    background-color: aqua;
}

#contenedor{
    max-width: 1200px;
    width: 100%;
    height: 800px;
    padding: auto;
    margin: auto;
}

#navegacion{
    max-width: 1200px;
    width: 100%;
    background-color: black;
    height: 35px;
    margin: auto;
    text-align: center;
}

#navegacion li{
    display: inline;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
}

#navegacion li a{
    text-decoration: none;
    color: white;
}

#cont{
    background-color: red;
    max-width: 1200px;
    width: 40%;
    height: 350px;
    position: relative;
    margin-left: 10%;  
    float: left;
}

#cont img{
    margin: auto;
    padding-top: 15%;
    display: block;
}

#cont2{
    background-color: blue;
    max-width: 1200px;
    width: 40%;
    height: 350px;
    float: left;
    text-align: center;
}

#cont3{
    background-color: blueviolet;
    max-width: 1200px;
    width: 80%;
    height: 200px;
    position: relative;
    margin-left: 10%;  
    float: left;
    text-align: center;
}

#cont4{
    background-color: violet;
    max-width: 1200px;
    width: 40%;
    height: 150px;
    position: relative;
    margin-left: 10%;  
    float: left;
    text-align: center;
}

#cont5{
    background-color: pink;
    max-width: 1200px;
    width: 40%;
    height: 150px;
    position: relative;
    float: left;
    text-align: center;
}

#footer{
    max-width: 1200px;
    width: 100%;
    background-color: black;
    height: 65px;
    margin: auto;
    text-align: center;
    color: white;
    float: left;
}

@media only screen and (max-width: 900px){
    #contenedor{
        background-color: yellow;
        width: 80%;
        height: 800px;
        margin: auto;
        padding: auto;
    }

    #cont{
        background-color: red;
        max-width: 900px;
        width: 65%;
        height: 350px;
        margin: auto;
        padding: auto;
    }

    #cont img{
        width: 65%;
        height: 55%;
    }

    #cont2{
        background-color: blue;
        max-width: 900px;
        width: 35%;
        height: 350px;
        float: left;
        text-align: center;
    }

    #cont3{
        background-color: blueviolet;
        max-width: 900px;
        width: 100%;
        height: 200px;
        margin: auto;
        float: left;
        text-align: center;
    }

    #cont4{
        background-color: violet;
        max-width: 900px;
        width: 50%;
        height: 150px;
        margin: auto;
        float: left;
        text-align: center;
    }

    #cont5{
        background-color: pink;
        max-width: 900px;
        width: 50%;
        height: 150px;
        float: left;
        text-align: center;
    }

    #footer{
        max-width: 900px;
        width: 100%;
        background-color: black;
        height: 65px;
        margin: auto;
        text-align: center;
        color: white;
        float: left;
    }
    
}

@media only screen and (max-width: 600px){
    #contenedor{
        background-color: yellow;
        width: 100%;
        height: 800px;
        margin: auto;
        padding: auto;
    }

    #cont{
        background-color: red;
        max-width: 600px;
        width: 100%;
        height: 220px;

    }

    #cont img{
        width: 200px;
        height: 200px;
        padding-top: 3%;
    }

    #cont2{
        background-color: blue;
        max-width: 600px;
        width: 100%;
        height: 120px;
        float: left;
        text-align: center;
    }

    #cont3{
        background-color: blueviolet;
        max-width: 600px;
        width: 100%;
        height: 130px;
        margin: auto;
        float: left;
        text-align: center;
    }

    
    #cont4{
        background-color: violet;
        max-width: 600px;
        width: 100%;
        height: 130px;
        margin: auto;
        float: left;
        text-align: center;
    }

    #cont5{
        background-color: pink;
        max-width: 600px;
        width: 100%;
        height: 135px;
        float: left;
        text-align: center;
    }

    #footer{
        max-width: 600px;
        width: 100%;
        background-color: black;
        height: 65px;
        margin: auto;
        text-align: center;
        color: white;
        float: left;
    }

}