body {
	text-align: center;
	padding: 20px;
	overflow: hidden;
}

.apart {
	border-style: dotted;
	border-color: black;
	border-radius: 12px;
	width: 500px;
	margin: 0 auto;
	padding: 20px;
	margin-bottom: 40px;
}

.fsect {
	font-size: 0.8em;
	color: #38240a;
}

#cont div {
	position: absolute;
}

.section1 {
	top: 120px;
	left: 160px;
	width: 440px;
}

.section2 {
	top: 810px;
	left: 820px;
	width: 380px;
}

.section3 {
	top: 1800px;
	left: 20px;
	width: 640px;
}

.section4 {
	top: 2500px;
	left: 2020px;
	width: 640px;
}

nav {
	position: absolute;
	bottom: 4px;
	left: 4px;
	width: 320px;
	height: 50px;
	background-color: brown;
	color: white;
	padding: 0px;
}

a,
a:visited {
	color: white;
	text-decoration: none;
	transition: color 0.2s;
}

a:hover {
	color: yellow;
}

a:active {
	color: black;
}

nav li {
	float: left;
}

nav a {
	text-align: center;
	display: block;
	width: 60px;
}

ul {
	list-style: none;
}
