*{
    padding: 0;
    margin: 0;
}

body{
    background-color: aqua;
}

#navegacion{
    margin: auto;
    width: 500px;
    height: auto;
}

.boton{
    text-decoration: none;
    background-color: blue;
    font-size: 20px;
    color: white;
    padding: 10px;
    border-radius: 6px;
}

.boton:hover{
    background-color: violet;
    color: yellow;
}

#navegacion2{
    width: 800px;
    margin: auto;
    height: auto;
    background-color: white;
    margin-top: 50px;
}

#navegacion2 li{
    display: inline;

}

#navegacion2 li a{
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    background-color: blue;
    color: white;
    float: left;
    font-size: 16px;
}

#navegacion2 li a:hover{
    background-color: orange;
    color: black;
}

#navegacion3{
    margin: auto;
    width: 400px;
    height: auto;

}

#navegacion3 li{
    display: inline;
}

#navegacion3 li a{
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    color: white;
    float: left;
    font-size: 16px;
}

#navegacion3 li a:hover{
    color: black;
}