#contenedor{
    width: 1000px;
    height: 2850px;
    background-color:gray;
    margin: auto;
    text-align: center;
}

#navegacion{
    background-color: black;
    float: center;
    width: 1000px;
    height: 35px;
    margin: auto;
}

#navegacion li{
    display: inline;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
}

#navegacion li a{
    text-decoration: none;
    color: white;
}

#header{
    width: 1000px;
    height: 600px;
    background-image: url(../img/img1.jpg);
    background-size: cover;
}

#header h1{
    text-align: center;
    position: relative;
    bottom: -530px;
    background-color: black;
    color: white;
    opacity: 0.7;
}

#contenedor3{
    width: 1000 px;
    height: 200px;
    background-color: rgb(221, 221, 221);
}

#contenedor3-1{
    padding-left: 100px;
    width: 800px;
    height: 200px;
    background-color: rgb(221, 221, 221);
}

#contenedor3 section{
    text-align: center;
    color: honeydew;
    float: left;
    width: 245px;
    margin: 10px;
    background-image: url(../img/im2.jpg);
    background-size: cover;
}

#contenedor4{
    background-image: url(../img/mapa2.png);
    background-color: rgb(225, 225, 225, .8);
    background-size: cover;
    text-align: center;
    width: 1000px;
    height: 230px;
}

#contenedor4-2{
    background-color: rgb(225, 225, 225, .3);
    width: 1000px;
    height: 230px;
}

#contenedor4-1{
    padding-left: 100px;
    padding-right: 70px;
    width: 800px;
    height: 200px;
}

#contenedor4 section{
    float: left;
    text-align: center;
    margin: 40px;
    width: 300px;
}

#contenedor5{
    background-color: white;
    width: 1000px;
    height: 350px;
}

#contenedor5-1{
    padding-left: 100px;
    padding-right: 70px;
    width: 800px;
    height: 200px;
}

#contenedor5 section{
    float: left;
    width: 150px;
    margin: 25px;
}

#contenedor5 a{
    border: black 1px solid;
    text-decoration: none;
    padding: 5px;
}

#contenedor6{
    background-image: url(../img/img7.jpg);
    width: 1000px;
    height: 200px;
    color: white;

}

#contenedor6-2{
    background-color: rgb(225, 225, 225, .3);
    width: 1000px;
    height: 200px;
}

#contenedor6-1{
    padding-left: 100px;
    padding-right: 70px;
    width: 800px;
    height: 200px;
}

#contenedor6 section{
    float: left;
    text-align: center;
    width: 200px;
    margin: 30px;
}

#contenedor7{
    background-color: white;
    width: 1000px;
    height: 600px;
}

#contenedor7-1{
    padding-left: 100px;
    padding-right: 70px;
    width: 800px;
    height: 200px;
}

#contenedor7 section{
    width: 300px;
    float: left;
    margin: 20px;
}

#contenedor7 a{
    color: white;
    background-color: chartreuse;
    border: black 1px solid;
    text-decoration: none;
    padding: 7px;
}

#contenedor8{
    background-color: rgb(47, 47, 47);
    width: 1000px;
    height: 200px;
    color: white;
}

#contenedor8-1{
    padding-left: 100px;
    padding-right: 70px;
    width: 800px;
    height: 200px;
}

#contenedor8 section{
    width: 260px;
    float: left;
    margin-top: 30px;
}

#contenedor9{
    background-color: gray;
    width: 1000px;
    height: 300px;
    color: white;
}

#contenedor9-1{
    padding-left: 100px;
    padding-right: 70px;
    width: 800px;
    height: 200px;
}

#contenedor9 section{
    width: 400px;
    float: left;
    margin-top: 20px;
}