body{
    background: blue;
}
/*index*/
#contenedorI{
    background-color: ivory;
    width: 900px;
    height: 750px;
    margin: auto;
}

#con1-I{
    background-color: blueviolet;
    width: 900px;
    height: 250px;
}

#con2-I{
    background-color: red;
    width: 900px;
    height: 250px;
}

#con3-I{
    background-color: salmon;
    width: 900px;
    height: 250px;
}
/*Pagina 2*/
#contenedor2{
    background-color: ivory;
    width: 900px;
    height: 800px;
    margin: auto;
}

#con1-2{
    background-color: rebeccapurple;
    width: 450px;
    height: 800px;
    float: left;
}

#con2-2{
    background-color: red;
    width: 450px;
    height: 800px;
    float: left;
}

/*Pagina 3*/
#contenedor3{
    background-color: ivory;
    width: 900px;
    height: 800px;
    margin: auto;
}

#con1-3{
    background-color: rebeccapurple;
    width: 900px;
    height: 100px;
    float: inline-start;
}

#con2-3{
    background-color: red;
    width: 900px;
    height: 700px;
    float: left;
}

#con3-3{
    background-color: red;
    width: 450px;
    height: 700px;
    float: left;
}

#con4-3{
    background-color: green;
    width: 450px;
    height: 700px;
    float: left;
}
/*Pagina 4*/
#contenedor4{
    background-color: ivory;
    width: 900px;
    height: 800px;
    margin: auto;
}

#con1-4{
    background-color: rebeccapurple;
    width: 900px;
    height: 100px;
    float: inline-start;
}

#con2-4{
    background-color: brown;
    width: 900px;
    height: 700px;
    float: left;
}

#con3-4{
    background-color: red;
    width: 600px;
    height: 700px;
    float: left;
}

#con4-4{
    background-color: green;
    width: 300px;
    height: 700px;
    float: left;
}

/* Pagina 5*/
#contenedor5{
    background-color: ivory;
    width: 900px;
    height: 800px;
    margin: auto;
}

#con1-5{
    background-color: rebeccapurple;
    width: 900px;
    height: 100px;
    float: inline-start;
}

#con2-5{
    background-color: brown;
    width: 900px;
    height: 600px;
    float: left;
}

#con3-5{
    background-color: red;
    width: 450px;
    height: 600px;
    float: left;
}

#con4-5{
    background-color: green;
    width: 450px;
    height: 600px;
    float: left;
}

#con5-5{
    background-color: yellow;
    width: 900px;
    height: 100px;
    float: left;
}

/* Pagina 6*/
#contenedor6{
    background-color: ivory;
    width: 900px;
    height: 800px;
    margin: auto;
}

#con1-6{
    background-color: rebeccapurple;
    width: 900px;
    height: 100px;
    float: inline-start;
}

#con2-6{
    background-color: brown;
    width: 900px;
    height: 600px;
    float: left;
}

#con3-6{
    background-color: red;
    width: 650px;
    height: 600px;
    float: left;
}

#con4-6{
    background-color: green;
    width: 250px;
    height: 600px;
    float: left;
}

#con5-6{
    background-color: yellow;
    width: 900px;
    height: 100px;
    float: left;
}

#con6-6{
    background-color: aqua;
    width: 300px;
    height: 100px;
    float: left;
}

#con7-6{
    background-color: black;
    width: 300px;
    height: 100px;
    float: left;
}
#con8-6{
    background-color: orange;
    width: 300px;
    height: 100px;
    float: left;
}