*{
    margin: 0;
    padding: 0;
}

body{
    background-color: aqua;
}

.contenedor{
    max-width: 1200px;
    width: 100%;
    height: 600px;
    background-color: green;
    margin: auto;
}

.cont1{
    max-width: 1200px;
    width: 33%;
    height: 600px;
    background-color: red;
    margin: auto;
    float: left;
}

.cont1 img{
    margin: auto;
    display: block;
}

.cont2{
    max-width: 1200px;
    width: 33%;
    height: 600px;
    background-color: yellow;
    margin: auto;
    float: left;
}

.cont2 img{
    margin: auto;
    display: block;
}

.cont3{
    max-width: 1200px;
    width: 33%;
    height: 600px;
    background-color: brown;
    margin: auto;
    float: left;
}

.cont3 img{
    display: block;
    margin: auto;
}

@media only screen and (max-width: 900px){
    .contenedor{
        width: 80%;
        height: 600px;
        background-color: blue;
        margin: auto;
    }

    .cont1{
        max-width: 900px;
        width: 50%;
        height: 400px;
        background-color: red;
        margin: auto;
        padding: auto;
        text-align: center;
    }

    .cont1 img{
        margin: auto;
        display: block;
    }
    
    .cont2{
        max-width: 900px;
        width: 50%;
        height: 400px;
        background-color: yellow;
        margin: auto;
        float: left;
        padding: auto;
        text-align: center;
    }

    .cont2 img{
        margin: auto;
        display: block;
    }
    
    .cont3{
        max-width: 900px;
        width: 100%;
        height: 200px;
        background-color: brown;
        margin: auto;
        float: left;
        padding: auto;
        display: flex;
        align-items: center;
    }

    .cont3 img{
        float: left;
    }
}

@media only screen and (max-width: 600px){
    .contenedor{
        width: 100%;
        height: 600px;
        background-color: white;
        margin: auto;
    }

    .cont1 img{
        float: left;
    }

    .cont1{
        max-width: 900px;
        width: 100%;
        height: 200px;
        background-color: red;
        margin: auto;
        float: left;
        padding: auto;
        display: flex;
        align-items: center;
    }

    .cont2 img{
        float: left;
    }
    
    .cont2{
        max-width: 900px;
        width: 100%;
        height: 200px;
        background-color: yellow;
        margin: auto;
        float: left;
        padding: auto;
        display: flex;
        align-items: center;
    }

    .cont3 img{
        float: left;
    }

    .cont3{
        max-width: 900px;
        width: 100%;
        height: 200px;
        background-color: brown;
        margin: auto;
        float: left;
        padding: auto;
        display: flex;
        align-items: center;
    }

}