body {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: "Roboto", sans-serif;
}

nav {
	width: 100%;
}

footer {
	width: 100%;
	height: 50px;
	position: block;
	background-color: black;
	color: white;
}

footer p {
	margin: 20px;
}

/**********		CONTENEDOR PRINCIPAL		****************/
.container {
	background-image: url(../images/background-wb.svg);
	background-repeat: no-repeat;
	max-width: 1200px;
	padding-top: 80px;
	width: 100%;
	margin: auto;
	height: auto;
}

/**********		CONTENEDOR 1		****************/
.cont {
	color: white;
	height: 780px;
}

.text-slider-items {
	display: none;
}

.title {
	width: 60%;
	float: left;
	height: 645px;
	padding-top: 100px;
	padding-right: 85px;
	-webkit-text-stroke: 0.5px black;
}

.title h1 {
	text-align: right;
	font-size: 70px;
}

.title h3 {
	text-align: right;
	font-size: 60px;
}

.img {
	width: 40%;
	height: 645px;
	margin: auto;
	float: left;
}

.img img {
	width: 320px;
	height: 360px;
	margin-top: 100px;
	margin-left: 70px;
	border-radius: 700px;
}

/**********		CONTENEDOR 2		****************/
.cont2 {
	max-width: 1200px;
	width: 100%;
	height: 700px;
	padding-top: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.about {
	width: 90%;
	height: 30%;
	margin: auto;
	text-align: center;
}

.about p {
	width: 80%;
	margin: auto;
	padding: 5px;
	font-size: 1.2em;
}

.about h2 {
	margin: auto;
	padding: 20px;
	color: rgb(246, 136, 82);
	-webkit-text-stroke: 0.5px black;
}

.skills-icons {
	width: 90%;
	height: 60%;
	margin: auto;
	text-align: center;
}

.cont2 .skills-icons img {
	margin-left: 40px;
	margin-top: 30px;
	width: 20%;
	height: 20%;
}

.cont2 .skills-icons h2 {
	margin-left: 30px;
	color: rgb(246, 136, 82);
	-webkit-text-stroke: 0.5px black;
}

/**********		CONTENEDOR 3		****************/
.cont3 {
	position: relative;
	text-align: center;
	padding-top: 10px;
	height: 820px;
	width: 100%;
}

.prac-box {
	width: 25%;
	height: 350px;
	margin-top: 55px;
	margin-left: 25px;
	float: left;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
	background-image: url(../images/project.jpg);
	background-size: 100% 350px;
}

.prac-box2 {
	width: 25%;
	height: 350px;
	margin-top: 55px;
	margin-left: 100px;
	float: left;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
	background-image: url(../images/project2.jpg);
	background-size: 100% 350px;
}

.prac-box3 {
	width: 25%;
	height: 350px;
	margin-top: 55px;
	margin-left: 100px;
	float: left;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
	background-image: url(../images/project3.jpg);
	background-size: 100% 350px;
}

.prac-box4 {
	width: 25%;
	height: 350px;
	margin-top: 15px;
	margin-left: 403px;
	float: left;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
	background-image: url(../images/project4.jpg);
	background-size: 100% 350px;
}

.text {
	width: 80%;
	height: 300px;
	margin: 30px;
	color: white;
	padding: 20px;
	text-align: justify;
	box-sizing: border-box;
	background-color: rgb(0, 0, 0, 0.5);
}

.text a {
	padding: 5px;
	margin-left: 45px;
	width: 80px;
	height: 70px;
	background-color: rgb(246, 136, 82, 0.5);
	border-style: solid;
	border-color: rgb(246, 136, 82, 0.5);
	border-radius: 10px;
	font-size: larger;
	text-decoration: none;
	color: white;
}

a:link,
a:visited,
a:active {
	text-decoration: none;
}
/**********		CONTENEDOR 4		****************/
.cont4 {
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
	padding-top: 45px;
	height: 730px;
	width: 100%;
}

.cont4 h2 {
	padding-top: 20px;
	text-align: center;
	color: rgb(246, 136, 82);
	-webkit-text-stroke: 0.5px black;
}

.form {
	width: 70%;
	margin-left: 230px;
	padding: 30px;
}

.bbtn {
	margin-left: 250px;
}

.social-icons {
	width: 60%;
	height: 50px;
	margin: auto;
	padding: 40px;
}

.social-icons a {
	padding: 10px;
}

/**********		KEYFRAMES & MEDIAS		****************/
@media only screen and (max-width: 1200px) {
	/**********		CONTENEDOR 1		****************/
	.title {
		padding-top: 50px;
		padding-right: 23px;
	}
	/**********		CONTENEDOR 2		****************/
	.cont2 {
		padding-top: 35px;
	}
	/**********		CONTENEDOR 3		****************/
	.text {
		margin: 20px;
		padding: 15px;
	}

	.text a {
		padding: 5px;
		margin-left: 25px;
	}
	/**********		CONTENEDOR 4		****************/
	.form {
		width: 70%;
		margin-left: 210px;
		padding: 30px;
	}

	.bbtn {
		margin-left: 180px;
	}

	.social-icons {
		margin: auto;
		padding-top: 25px;
		padding-left: 0px;
	}

	.social-icons a {
		padding: 10px;
	}
}

@media only screen and (max-width: 990px) {
	/**********		CONTENEDOR 1		****************/
	.cont {
		max-width: 990px;
		width: 100%;
		height: 580px;
	}

	.title {
		width: 100%;
		float: left;
		height: 150px;
		-webkit-text-stroke: 0.5px black;
	}

	.title h1 {
		margin-right: 150px;
		margin-top: -130px;
		text-align: right;
		font-size: 60px;
	}

	.title h3 {
		margin-right: 130px;
		text-align: right;
		font-size: 50px;
	}

	.img {
		width: 100%;
		height: 445px;
		margin: auto;
		float: left;
	}

	.img img {
		width: 320px;
		height: 360px;
		margin-top: 20px;
		margin-left: 200px;
		border-radius: 700px;
	}
	/**********		CONTENEDOR 2		****************/
	.cont2 {
		max-width: 990px;
		width: 100%;
		height: 700px;
		padding-top: 15px;
	}

	.about p {
		width: 80%;
		margin: auto;
		padding: 5px;
		font-size: 1.2em;
	}

	.cont2 .skills-icons img {
		margin-left: 20px;
		margin-top: 30px;
		width: 20%;
		height: 20%;
	}
	/**********		CONTENEDOR 3		****************/
	.cont3 {
		max-width: 990px;
		padding-top: 10px;
		height: 900px;
		width: 100%;
	}

	.prac-box {
		width: 40%;
		height: 350px;
		margin-top: 55px;
		margin-left: 25px;
		float: left;
	}

	.prac-box2 {
		width: 40%;
		height: 350px;
		margin-top: 55px;
		margin-left: 70px;
		float: left;
	}

	.prac-box3 {
		width: 40%;
		height: 350px;
		margin-top: 25px;
		margin-left: 25px;
		float: left;
	}

	.prac-box4 {
		width: 40%;
		height: 350px;
		margin-top: 25px;
		margin-left: 70px;
		float: left;
	}
	/**********		CONTENEDOR 4		****************/
	.cont4 {
		padding-top: 45px;
		height: 650px;
		width: 100%;
	}

	.cont4 h2 {
		padding-top: 15px;
		text-align: center;
	}

	.form {
		width: 90%;
		margin-left: 120px;
	}

	.bbtn {
		margin-left: 150px;
	}

	.social-icons {
		margin-left: 70px;
	}

	.social-icons a {
		padding: 15px;
	}
}

@media only screen and (max-width: 768px) {
	/**********		CONTENEDOR 1		****************/
	.cont {
		height: 300px;
	}

	.title {
		max-width: 100%;
		float: left;
		height: 100px;
		padding-top: 50px;
		padding-right: 5px;
		-webkit-text-stroke: 0.5px black;
	}

	.title h1 {
		text-align: right;
		font-size: 45px;
	}

	.title h3 {
		text-align: right;
		font-size: 35px;
	}

	.img {
		max-width: 100%;
		height: 445px;
		margin: auto;
		float: left;
	}

	.img img {
		width: 220px;
		height: 260px;
		margin-top: 10px;
		margin-left: 170px;
		border-radius: 700px;
	}
	/**********		CONTENEDOR 2		****************/
	.cont2 {
		max-width: 1200px;
		width: 100%;
		height: 700px;
		padding-top: 20px;
	}

	.about {
		width: 100%;
		height: 30%;
		margin: auto;
		text-align: center;
	}

	.about p {
		width: 80%;
		margin: auto;
		font-size: 1.2em;
	}

	.about h2 {
		margin: auto;
		padding: 15px;
		color: rgb(246, 136, 82);
		-webkit-text-stroke: 0.5px black;
	}

	.skills-icons {
		width: 90%;
		height: 60%;
		margin: auto;
		text-align: center;
	}

	.cont2 .skills-icons img {
		margin-left: 20px;
		margin-top: 20px;
		width: 20%;
		height: 20%;
	}

	.cont2 .skills-icons h2 {
		margin-top: 10px;
		margin-left: 30px;
	}
	/**********		CONTENEDOR 3		****************/
	.cont3 {
		padding-top: 10px;
		height: 850px;
		width: 100%;
	}

	.text {
		width: 80%;
		margin: 20px;
		padding: 5px;
	}

	.text a {
		padding: 1px;
		margin-left: 35px;
		font-size: medium;
	}
	/**********		CONTENEDOR 4		****************/
	.cont4 {
		padding-top: 25px;
		height: 600px;
		width: 100%;
	}

	.cont4 h2 {
		padding-top: 20px;
		text-align: center;
	}

	.form {
		width: 95%;
		margin-left: 60px;
		padding: 10px;
	}

	.bbtn {
		margin-left: 150px;
	}

	.social-icons {
		width: 60%;
		height: 50px;
		margin-left: 40px;
		padding: 40px;
	}

	.social-icons a {
		padding: 10px;
	}
}
